<div>
  <div class="card-product">
    <%= image_tag(asset_path('parts/drehteile.jpeg')) %>
    <div class="card-product-infos">
      <h2>Drehteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag(asset_path('parts/fraes.jpeg')) %>
    <div class="card-product-infos">
      <h2>Frästeile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag(asset_path('parts/kaltform.jpeg')) %>
    <div class="card-product-infos">
      <h2>Kaltformteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag(asset_path('parts/standard.jpeg')) %>
    <div class="card-product-infos">
      <h2>Standardteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag(asset_path('parts/stanz.jpeg')) %>
    <div class="card-product-infos">
      <h2>Stanzteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag(asset_path('parts/stanzbiege.jpeg')) %>
    <div class="card-product-infos">
      <h2>Stanz- und Biegeteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag(asset_path('parts/drehstanzbiege.jpeg')) %>
    <div class="card-product-infos">
      <h2>Dreh-, Stanz- und Biegeteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
