<h2>Unsere Produkte</h2>
<hr>
<div>
  <div class="card-product" id="Dreh">
    <%= image_tag(asset_path('parts/drehteile.jpg')) %>
    <div class="card-product-infos">
      <h2>Drehteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product" id="Fraes">
    <%= image_tag(asset_path('parts/fraes.jpg')) %>
    <div class="card-product-infos">
      <h2>Frästeile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product" id="Kaltform">
    <%= image_tag(asset_path('parts/kaltform.jpg')) %>
    <div class="card-product-infos">
      <h2>Kaltformteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product" id="Standard">
    <%= image_tag(asset_path('parts/standard.jpg')) %>
    <div class="card-product-infos">
      <h2>Standardteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product" id="Stanz">
    <%= image_tag(asset_path('parts/stanz.jpg')) %>
    <div class="card-product-infos">
      <h2>Stanzteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product" id="StanzBiege">
    <%= image_tag(asset_path('parts/stanzbiege.jpg')) %>
    <div class="card-product-infos">
      <h2>Stanz- und Biegeteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product" id="DrehStanzBiege">
    <%= image_tag(asset_path('parts/drehstanzbiege.jpg')) %>
    <div class="card-product-infos">
      <h2>Dreh-, Stanz- und Biegeteile</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
