<div>
  <h3>Immer für Sie erreichbar</h3>
  <br>
  <%= form_with url: "/pages/create", method: :post do |form| %>
    <%= form.text_field :firma, placeholder:"Firma" %><br><br>
    <%= form.text_field :name, placeholder:"Name, Vorname*"%><br><br>
    <%= form.text_field :number, placeholder:"Telefonnummer*" %><br><br>
    <%= form.text_field :mail, placeholder:"E-Mail*" %><br><br>
    <%= form.text_field :message, placeholder:"Ihre Nachricht an uns*" %><br><br>
    <%= form.submit "Nachricht senden" %>
  <% end %>
</div>
